* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: #09161D;
    height: 100vh;
    display: grid;
    place-items: center;
}


.card {
    position: relative;
    width: 320px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0 0px 80px -20px #2693f3;
    background-color: #122926;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
}

.card:before {
    content: '';
    position: absolute;
    top: -50%;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #2693f3;
    transform: skewY(345deg);
    transition: all 0.5s;
}

.card:hover:before {
    transform: skewY(390deg);
}

.card:after {
    content: 'Sony';
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 8em;
    color: rgba(0,0,0,0.1);
}

.card .imgBox {
    padding-top: 20px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .imgBox img {
    max-width: 100%;
    z-index: 4;
    transition: all 0.5s;
}

.card:hover .imgBox img {
    max-width: 80%;
    /*transform: scale(0.8);*/
}

.card .contentBox {
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}

.card .contentBox h3 {
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
}

.card .contentBox .price {
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.card .contentBox a {
    position: relative;
    margin-top: 5px;
    top: 200px;
    border: none;
    border-radius: 30px;
    padding: 8px 30px;
    background-color: #2693f3;
    color: #ffffff;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s;
    text-decoration: none;
}

.card:hover .contentBox a {
    top: 0;
    opacity: 1;
}